<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL and Text Input Form</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_index.css') }}">

</head>
<body>
<div class="header">
    <form action="/" method="GET">
        <input type="submit" value="Verify 🔍" style="width: 120px">
    </form>
    <form action="/about" method="GET">
        <input type="submit" value="About" style="width: 100px">
    </form>
</div>


<div class="container">
    <h1>The Scope 🔍</h1>

    <form action="/submit" method="POST">
        <input type="url" id="url" name="url" placeholder="https://example.com">
        <h2>or</h2>
        <textarea id="text" name="text" placeholder="Paste information for verification..."></textarea>
        <input type="submit" value="🔍">
    </form>
</div>

<div class="footer">
    &copy; 2024 - The Scope 🔍
</div>

</body>
</html>