
input[type="submit"] {
    font-size: 18px;
}

.container {
    max-width: 1000px;
    width: 70%;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: flex-start;
    margin: 15px;
    border: 1px solid #b4b4b4;
    height: 44px;
    border-radius:22px;

    form {
        padding: 0;
        margin: 0;
        input[type="submit"] {
            width: 75px;
            background-color: #fff;
            height: 34px !important;
            border-radius: 17px;
            margin: 5px;
            color: black;
            padding: 0;
            border: 1px solid #b4b4b4;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        }
        }
}

.footer {
    text-align: center;
    margin: auto;
    color: #777;
}

h1 {
    text-align: center;
    color: #333333;
    font-weight: 500;
}

